<!DOCTYPE HTML>
<html>

<head>
	<title>Hacked News</title>
	<link rel="icon" href={{ url_for('static', filename='favicon.png') }} />
	<link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
</head>

<body>


<div id="menu">
	<div id="menu_container">
	<h1>Hacked News</h1>

        <ul>
                <li><a href="/">News Feed</a></li>
                <li><a href="/likes">Likes / Dislikes</a></li>
		{% if session %}
		        <li><a href="/account">My Account</a></li>
			<li><a href="/logout">Log Out</a></li>
		{% else %}
			<li><a href="/login">Sign In</a></li>
		{% endif %}
        </ul>
	</div>
</div>

<div id="main_content">
	<img style="width: 100px; height: 100px; border-radius: 50%; border: 2px solid #585858; margin-top: 20px;" src={{session["userinfo"]["picture"]}} />
	<p>Name: {{ session["userinfo"]["name"] }}</p>
	<br />
	<p>Email: {{ session["userinfo"]["email"] }}</p>
	<br />
</div>

<div id="footer">
	<p>&copy Trevor Fagan, Josh Lowe 2022</p>
</div>

</body>
