<!DOCTYPE HTML>
<html>

<head>
	<title>Hacked News</title>
	<link rel="icon" href="https://img.icons8.com/parakeet/344/experimental-internet-parakeet.png" />
</head>

<style>
#top_bar {
	width: 50%;
	margin: 0 auto;
}

#news {
	text-align: center;
}

#news h1 {
	margin: 0;
	padding: 0;
}

#menu {
	text-align: center;
}

#menu ul {

}

#menu ul li {
	list-style-type: none;
	display: inline-block;
}

#menu ul li a {
	text-decoration: none;
	padding: 5px 10px;
}

#menu ul li a:hover {
	color: #002040;
}
</style>

<body>

<div id="top_bar">
	<div id="news">
		<h1>Hacked News</h1>
	</div>

	<div id="menu">
		<ul>
			<li><a href="#">News Feed</a></li>
			<li><a href="#">Likes / Dislikes</a></li>
			<li><a href="#">My Account</a></li>
			<li><a href="#">Log in (or sign out)</a></li>
		</ul>
	</div>
</div>	

</body>

</html>
