<!DOCTYPE HTML>
<html>

<head>
	<title>Hacked News</title>
	<link rel="icon" href={{ url_for('static', filename='favicon.png') }} />
	<link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
</head>

<body>

<div id="menu">
	<div id="menu_container">
	<h1><a href="/">Hacked News</a></h1>
        <ul>
                <li><a href="/"><span id="current_page">News Feed</span></a></li>
		
		{% if session %}
			{% if session["userinfo"]["email"] == "trevorfagan77@gmail.com" or session["userinfo"]["email"] == "joshlowe.cs@gmail.com" %}
				<li><a href="/likes">Likes / Dislikes</a></li>
			{% endif %}
		{% endif %}

		{% if session %}
		        <li><a href="/account">My Account</a></li>
			<li><a href="/logout">Log Out</a></li>
		{% else %}
			<li><a href="/login">Sign In</a></li>
		{% endif %}
        </ul>
	</div>
</div>

<div id="main_content">
	<table>
		<tr>
			<th>Author</th>
			<th>Article Title</th>
			<th>Link</th>
			<th>Rating</th>
		</tr>

		{% for article in data %}
			<tr>
				<td>{{ article[1] }}</td>
				<td>{{ article[2] }}</td>
				<td><a href={{ article[3] }} target="blank">View Article</a></td>
				<td>
					<form method="POST" action="/add_like">
						<input name={{article[0]}} width="10px" height="10px" type="image" src={{ url_for('static', filename='thumbs_up.png') }} alt="Submit"/>
					</form>
					<form method="POST" action="/add_dislike">
						<input name={{article[0]}} width="10px" height="10px" type="image" src={{ url_for('static', filename='thumbs_down.png') }} alt="Submit"/>
					</form>
				</tr>
		{% endfor %}
	</table>
</div>

<div id="footer">
	<p>&copy Trevor Fagan, Josh Lowe 2022</p>
</div>

</body>
