<!DOCTYPE HTML>
<html>

<head>
	<title>Hacked News</title>
	<link rel="icon" href={{ url_for('static', filename='favicon.png') }} />
	<link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
</head>

<body>


<div id="menu">
	<div id="menu_container">
	<h1><a href="/">Hacked News</a></h1>

        <ul>
                <li><a href="/">News Feed</a></li>
                <li><a href="/likes"><span id="current_page">Likes / Dislikes</span></a></li>
		{% if session %}
		        <li><a href="/account">My Account</a></li>
			<li><a href="/logout">Log Out</a></li>
		{% else %}
			<li><a href="/login">Sign In</a></li>
		{% endif %}
        </ul>
	</div>
</div>

<div id="main_content">
	<table>
		<tr>
			<th>Author</th>
			<th>Article Title</th>
			<th>Link</th>
			<th>Rating</th>
		</tr>

		{% for article in data %}
			<tr>
				<td>{{ article[1] }}</td>
				<td>{{ article[2] }}</td>
				<td><a href={{ article[3] }} target="blank">View Article</a></td>
				<td><span id="like_button"><img src={{ url_for('static', filename='thumbs_up.png') }} /></span>
			    	<a><span id="dislike_button"><img src={{ url_for('static', filename='thumbs_down.png') }} /></span></a></td>
			</tr>
		{% endfor %}
	</table>
</div>

<div id="footer">
	<p>&copy Trevor Fagan, Josh Lowe 2022</p>
</div>

</body>
